body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: grey;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1500px;
    margin: 50px auto;
    padding: 20px;
    background: #fbfbfb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    color: rgb(118, 168, 19);
    margin-bottom: 20px;
    font-weight:500;
}

.star-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.btn:hover {
    background: #0056b3;
}

.error {
    color: red;
    margin-top: 5px;
}

.c
{
    text-align: center;
}

.result {
    font-weight: 700;
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: space-between;
}

.score {
    font-weight: 600;
    color: black;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.lifeline {
    text-align: left;
}

.points {
    text-align: right;
    color : black;
    
}
