{% extends "base.html" %}

{% block title %}
Quote Game
{% endblock %}

{% block content %}

{% if messages %}
<ul>
{% for message in messages %}
    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
{% endfor %}
</ul>
{% endif %}

{% if lifeline <= 0 %}
    <h3>No more lifelines remaining. Game over!</h3>
    <a href="{% url 'game_over' %}">Restart Game</a>
{% else %}
    <h3>Remaining Lifelines: {{ lifeline }}</h3>

<h2>Who said this quote?</h2>
<h3> - {{ question.quote.quote }}</h3>

<form method="POST" class='star-form'>
    {% csrf_token %}
    <input type="hidden" name="lifeline" value="{{ lifeline }}">
    {% for answer in answers %}
        <input type="radio" name="answer" value="{{ answer.id }}"> {{ answer.name }}<br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}

{% endblock %}