{% extends "base.html" %}

{% block title %}
Quote Game
{% endblock %}

{% block content %}

{% if messages %}
<ul>
{% for message in messages %}
    <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
{% endfor %}
</ul>
{% endif %}

<h2>Who said this quote?</h2>

<div class="score-container">
    <div class="score">
        <div class="lifeline">
            {% if lifeline <= 0 %}
                <h4>No more lifelines remaining. Game over!</h4>
                <a href="{% url 'game_over' %}">Restart Game</a>
            {% else %}
                <h4>Remaining Lifelines - {{ lifeline }}</h4>
            {% endif %}
        </div>
        <div class="points">
            <h4>Score - {{ points }}</h4>
        </div>
    </div>
</div>


<h3> - {{ question.quote.quote }}</h3>

<form method="POST" class='star-form'>
    {% csrf_token %}
    <input type="hidden" name="lifeline" value="{{ lifeline }}">
    {% for answer in answers %}
        <input type="radio" name="answer" value="{{ answer.id }}"> {{ answer.name }}<br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}