{% extends "base.html" %}
{% block content %}
<h2>Create Question</h2>
<form action="" method="POST" class="star-form">
    {% csrf_token %}
    
    {% if messages %}
        <ul>
        {% for message in messages %}
            <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
        {% endfor %}
        </ul>
    {% endif %}
    
    <div class="form-group">
        {{ form.star.label_tag }}
        {{ form.star }}
        {% if form.star.errors %}
            <div class="error">
                {% for error in form.star.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.quote.label_tag }}
        {{ form.quote }}
        {% if form.quote.errors %}
            <div class="error">
                {% for error in form.quote.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}